body{
    background-color: #ece4db;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;

}

table{
    background-color: #f19c79;
    width: 100%;
    border-radius: 8px; 
    height: 70px;
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover{
    color: #118ab2;
    text-decoration: underline;
}

nav a{
    text-decoration: none;
    text-align: justify;
    color: #83c5be;
    position: relative;
    font-size: 20px;
}

tr{
    position: relative;
}

td a{
    color: white;
    width: 25%;
    font-size: 20px;
    position: relative;
}

.tituloprincipal{
    color: #f19c79;
    margin-top: 230px;
    margin-left: 0.5%;
    text-align: center;
}

.textohome{
    color: #f19c79;
    font-size: 22px;
    text-align: center;
}

.imagemhome{
    border-radius: 20px;
    width: 50%;
    height: 50%;
    margin: 2% 25%;
    display: inline-block;
    border-style: dashed;
}

form{
    border: 10px solid #d4e09b;
    text-align: center;
    margin:15px;
    font-size:18px;
    border-radius: 50px;
    width: 1000px;
    display:inline-block;
    margin: 160px;
    margin-top: 20px;
}

img{
    width: 180px;
    height: 200px;
}


.rodape{
    background-color: #f19c79;
    width: 100%;
    border-radius: 8px; 
    height: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
    position:relative;
}

h4{
    color: #f19c79;
}


/* início do carousel */

* { margin: 0; padding: 0; }
.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-left: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
    padding: auto;
}

.slider img {
    margin: auto;
    box-shadow: 8px 8px 10px gray;
    vertical-align: top;
    border-radius: 8px;
}
.slider input {
    display: none;
}
.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

   /* fim do carousel */

